#entry {
    border-radius: 100;
    color: black;
}

#button {
    color: red;
    font-size: small;
}

#picker {
    color: blue;
}

#labelsmall {
    color: blue;
    font-size: small;
}

#labelmedium {
    color: blue;
    font-size: medium;
}

#labelmedium1 {
    color: red;
    font-size: medium;
}

#labellarge {
    color: red;
    font-size: large;
}
